* {
    box-sizing: border-box;
}

#home {
    background-color: #FFEED4;
}

#portfolio {
    background-color: #ddeec6;
}

#tidbits {
    background-color: #CBDDEE;
}

#about {
    background-color: #fadaa3;
}

#contact {
    background-color: #E8DEFC;
}

.heading {
    text-align: center;
    top: 15%;
    left: 40%;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 170%;
    margin-top: 70px;
    margin-bottom: 10px;
}

section {
    position: relative;
    left: 450px;
    top: -200px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
}

.column {
    flex: 50%;
}

.gallery-item {
    /* background-color: #40753F; */
    display: grid;
    margin: 10px;
    padding: 5px;
}

.gallery-image {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.image-wrap {
    position: relative;
    margin: 20px;
    flex: 20%;
}

.image-description {
    visibility: hidden;
    position: absolute;
    border: none;
    opacity: 0.5;
    text-align: center;
    line-height: 200px;
    text-decoration: none;
    font-family: Montserrat;
    color: black;
    background-color: rgba(255, 255, 255, 0.582);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity .2s, visibility .2s;
}

.image-wrap:hover .image-description {
    visibility: visible;
    opacity: 10;
    cursor: pointer;
}

/* modal slideshow */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 30px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.765);
}

.modal-content {
    display: block;
    position: relative;
    margin: 30px;
    margin-left: 40px;
    padding: 0;
    width: 60%;
}
.close {
    color: white;
    position:sticky;
    margin: 40px;
    top: -20px;
    right: 0px;
    font-size: 40px;
    font-weight: bold;
    z-index: 1;
}

.close:hover,
.close:focus {
    color: #999;
    cursor: pointer;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 20px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
.next {
    right: 10%;
}
.prev {
    left: 10%
}
.prev:hover, .next:hover {
    color: #999;
}
.caption-container {
    width: 25%;
    height: 78%;
    position: sticky;
    top: 0;
    bottom: 100px;
    float: right;
    padding: 10px;
    margin: 10px;
    margin-right: 80px;
    color: white;
}
#caption {
    font-family: Montserrat;
    font-size: 20px;
    text-align: justify;
    line-height: 130%;
}
/* top navigation bar */
topnav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: right;
}

topnav li {
    display: inline-block;
}

topnav li a {
    display: inline-block;
    color: black;
    text-decoration: none;
    font-family: Montserrat;
    margin: 20px;
}

topnav li a.split {
    text-align: left;
    font-weight: 600;
    text-transform: uppercase;
}

topnav li a:hover {
    color: #40753F
}

topnav li a.active {
    color: #40753F;
    font-weight: 600;
}

/* side navigation bar for portfolio */
nav ul {
    position: relative;
    top: 130px;
    left: 120px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 300px;
    text-align: left;
}

nav li a {
    display: block;
    color: black;
    text-decoration: none;
    font-family: Montserrat;
    margin: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav li {
    display: block;
    color: black;
    text-decoration: none;
    font-family: Montserrat;
    margin: 20px;
    padding-left: 5px;
}

nav li a:hover {
    background-color: #628e62c8;
}

nav li a.active {
    background-color: #628e62c8;
}

#title {
    font-family: Montserrat;
    width: 400px;
    font-weight: 400;
    font-size: 20px;
    text-align: left;
    position: relative;
    top: 170px;
    left: 200px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px solid #40753F;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: 250px;
    padding: 10px;
    border-radius: 8px;
    background-color: #CBDCC1;
    color: black;
    font-weight: 200;
    font-size: 50%;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: -40%;
    margin-left: -60px;
    font-family: Montserrat;
}

.tooltip .tooltip-text:after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 70%;
    margin-left: -5px;
    margin-right: 5px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #CBDCC1 transparent;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}

.wheel {
    width: 35%;
    height: 50%;
    position: relative;
    top: -40px;
    left: 52%;
    z-index: 0;
}

.container {
    width: 500px;
    height: 500px;
    background-color: #CBDCC1;
    border-radius: 50%;
    border: 2px solid #CBA008;
    position: relative;
    overflow: hidden;
    left: 0%;
    top: 0%;
    transition: 5s;
}

.container div {
    height: 50%;
    width: 500px;
    position: absolute;
    clip-path: polygon(100% 0, 50% 100%, 0 0);
    transform: translateX(-50%);
    transform-origin: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0px;
}

.container .one {
    background-color: #fadaa3;
    left: 50%
}

.container .one a {
    text-decoration: none;
    font-size: 25px;
    font-family: Montserrat;
    color: #DAA520;
}

.container .two {
    background-color: #ddeec6;
    transform: rotate(90deg);
}

.container .two a {
    text-decoration: none;
    font-size: 25px;
    font-family: Montserrat;
    color: #DAA520;
}

.container .three {
    background-color: #d5e9fa;
    transform: rotate(180deg);
}

.container .three a {
    text-decoration: none;
    font-size: 25px;
    font-family: Montserrat;
    color: #DAA520;
}

.container .four {
    background-color: #E8DEFC;
    transform: rotate(270deg);
}

.container .four a {
    text-decoration: none;
    font-size: 25px;
    font-family: Montserrat;
    color: #DAA520;
}

.arrow {
    position: absolute;
    top: 34.6%;
    left: 46.3%;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #FBF1F1;
    z-index: 10;
}

.arrow-border {
    position: absolute;
    top: 34%;
    left: 45.8%;
    width: 0;
    height: 0;
    border-left: 23px solid transparent;
    border-right: 23px solid transparent;
    border-bottom: 23px solid #CBA008;
    z-index: 1;
}

#spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: #FBF1F1;
    border: 2px solid #CBA008;
    color: #DAA520;
    font-size: 25px;
    font-family: Montserrat;
    border-radius: 50%;
    width: 125px;
    height: 125px;
    cursor: pointer;
}

#comment {
    position: relative;
    right: 10%;
    bottom: 80px;
    text-align: center;
    font-size: 130%;
    font-family: Montserrat;
    font-weight: 100;
    color: #40753F;
}
/*tidbits*/
.tidbit{
    width: 100%;
    font-family: Montserrat;
    position: relative;
    top: 60px;
    bottom: 10px;
    left: 100px;
}
/* contact */
.contact{
    width: 30%;
    font-family: Montserrat;
    position: relative;
    top: 100px;
    bottom: 10px;
    left: 15%;
    right: 50%;
}
.contact a{
    text-decoration: none;
    color: black;
}
.contact a:hover {
    color: #a88ae5;
}
/* contact form */
.contactForm {
    position: relative;
    /* float: right; */
    right: 0px;
    left: 50%;
    top: -100px;
    border-radius: 6px;
    padding: 20px;
    width: 40%;
    background-color: white;
    box-sizing: border-box;
}
label {
    font-family: Montserrat;
    font-size: 85%;
    font-weight: 500;
    margin-left: 40px;
}
#name {
    width: 37%;
    margin-right: 0px;
}
input[type=text], select, textarea{
    width: 80%;
    padding: 12px;
    margin: 0px 20px 10px 40px;
    border: 1px solid #d1c1f1;
    border-radius: 4px;
}
input[type=submit] {
    background-color: #d1c1f1;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    margin-left: 40px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #c0a9ed;
}
topnav p {
    position: sticky;
    top: 2px;
    color: black;
    text-decoration: none;
    text-align: center;
    left: 50%;
    background-color: lightsalmon;
    font-family: Montserrat;
    padding: 14px 16px;
    margin: 0;
}
